{% extends 'base.html' %}

{% block main %}
    {% for funcionario in object_list %}
        <br>
            <a href="{% url 'update_funcionario' funcionario.id %}">>
            {{ funcionario }}
            </a>
        <a href="{% url 'delete_funcionario' funcionario.id %}">
            Deletar
        </a>
         <a href="{% url 'create_documento'  funcionario.id  %}">
        create
        </a>
    {% endfor %}
    <br>
    <a href="{% url 'novo_funcionarios'  %}" class="btn- btn-info">Novo funcionario</a>
{% endblock %}