{% extends 'base.html' %}

{% block main %}
        <div class="row">
            <div class="col-sm">
                <a href="{% url 'Lista_Departamento' %}">Departamentos</a>
            </div>
            <div class="col-sm">
                {{ usuario.funcionario.nome }}
                <a href="{% url 'list_funcionarios' %}">Gerencia funcinarios</a>
                <a href="{% url 'lista_hora_extra' %}">Gerencia Banco de horas</a>
            </div>
            <div class="col-sm">
                <a href="{% url 'logout' %}">Logout</a>
                {% if usuario.funcionario.empresa %}
                    <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
                {% else %}
                    <a href="">Criar Empresa</a>
                {% endif %}
            </div>
        </div>
{% endblock %}